.move-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.move-detail__title {
  font-size: 4rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 2rem;
  color: #3b4cca;
}

.move-detail__list {
  list-style: none;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
}

.move-detail__list li {
  margin-bottom: 1rem;
}
