.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.search__text {
  margin-bottom: 2rem;
}

.search__text h1 {
  font-size: 4rem;
  color: #3b4cca;
  margin-bottom: 1rem;
}

.search__text p {
  font-size: 2rem;
  color: black;
}

.search__form {
  display: flex;
  width: 100%;
  max-width: 60%;
}

.search__form-input {
  height: 4rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #616161;
  margin-right: 1rem;
  width: 80%;
  padding: 1rem;
}

.search__button {
  padding: 1rem;
  height: 4rem;
  border-radius: 0.4rem;
  border: 0.1rem solid #616161;
  font-size: 1.6rem;
}

.search-error {
  color: red;
  margin-top: 2rem;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .search__form {
    width: 100%;
    max-width: 100%;
  }
}
